.close-button {
    position: absolute;
    top: 10px;
    right: 25px;
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: black;
}

@media (min-width: 768px) {
    .close-button {
        display: none;
    }
}