.hero {
    position: relative;
    width: 100%;
    height: 800px;
    background-image: url('/2025-Singer-911-Carrera-Coupe-009-1080.png');
    background-size: cover;
    background-position: center;
    color: white;
}

.hero-symbol {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 100px;
    background-image: url('/hero-symbol.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-content-container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.hero-text {
    position: absolute;
    bottom: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    width: 90%;
    max-width: 314px;
}

@media (min-width: 768px) {
    .hero-symbol {
        width: 150px;
        height: 150px;
        left: 50px;
        top: 30px;
    }
}