@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-jaro);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: black;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: jaro, Arial, Helvetica, sans-serif;
}

.big-text {
  font-size: 82px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.relative {
  position: relative;
}