.container {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url('/2025-Singer-911-Carrera-Coupe-009-1080.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}

.text {
  position: absolute;
  bottom: 700px;
  left: 10px;
  background-color: rgba(0,0,0,0.5);
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 16px;
  font-family: jaro;
}
