.container {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url('/1701154591600322009-128.png');
  background-size: cover;
  background-position: center;
  color: white;
}




.text {
  position: absolute;
  bottom:50px;
  left: 10px;
  background-color: rgba(0,0,0,0.5);
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 16px;
  font-family: jaro;
}
