.navigation-item {
    font-size: 30px;
    margin: 2 15px;
    display: block;
    text-align: right;
    font-family: jaro;
    font-weight: bold;
    color: black;
}
nav{
    position: fixed;
    right: 0;
}