.cars-section {
    width: 100%;
    overflow-x: hidden;
    padding-top: 0px;
    padding-bottom: 120px;
}

.cars-section__inner {
    /* display: flex;
    justify-content: flex-end; */
}

.cars-section__slider-position {
    /* width: 50%; */
}

.cars-section__slider {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    /* width: fit-content; */
    overflow: auto;


    /* slider */
    scroll-behavior: smooth;
    /* smooths the scroll transition */
    scroll-snap-type: x mandatory;
    /* enables horizontal snapping, mandatory ensures it always snaps */
    overscroll-behavior-x: contain;
    /* prevents the page from scrolling */

    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.cars-section__slider::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

.cars-section__slider-controls {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-block: 16px;
}

.cars-section__prev-btn,
.cars-section__next-btn {
    cursor: pointer;
    font-size: 18px;
}

@media (min-width: 768px) {
    .cars-section {
        padding-top: 60px;
    }

    .cars-section__inner {
        display: flex;
        justify-content: flex-end;
    }

    .cars-section__slider-position {
        width: 50%;
    }

    .cars-section__slider {
        width: calc((350px * 2.5) + (48px * 2.5));
    }
}

@media (min-width: 1200px) {
    .cars-section__slider-position {
        width: 40%;
    }

    .cars-section__slider {
        gap: 48px;
    }
}