
.about-section {
    padding-block: 60px;
    /* padding: 60px 10px; */
}

.about-flag {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}

.about-title {
    font-size: 32px;
    line-height: 125%;
    margin-bottom: 40px;
    max-width: 650px;
}

.about-description {
    font-family: var(--font-jaldi);
    font-size: 16px;
    max-width: 550px;
}

@media(min-width: 768px) {
    .about-flag {
        flex: 1;
    }
    .about-section {
        display: flex;
        gap: 24px;
        align-items: flex-start;
    }   
    .about-title {
        padding-top: 48px;
        margin-bottom: 0;
        max-width: 500px;
        margin-right: 40px;
    }
    .about-description {
        align-self: flex-end;
        max-width: 300px;
    }

}

@media (min-width: 1024px) {
    .about-title {
        font-size: 40px;
        max-width: 482px;
        margin-right: 80px
    }
}